{
  "presets": [
    "env",
    "es2015"
  ],
  "plugins": [
    // add a few es2015+ syntax features
    "transform-object-rest-spread",
    "transform-export-extensions", // this is stage 1, but we used it in cider so it's in here to support code sharing

    // adds tree shaking to dynamically remove unused functions
    "lodash"
  ]
}
